<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your pdf</title>
  </head>
  <body>
    <a
      href="{{ pdf }}"
      download="report_session.pdf"
      style="
        padding: 10px 15px;
        background-color: purple;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
      "
    >
      ⬇️ Download PDF
    </a>
  </body>
</html>
