# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
/pdfenv/
/env/

# VS Code settings
.vscode/

# Environment variables
.env
*.env

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# MacOS
.DS_Store
