langchain
langchain-core
langgraph 
langchain-community
langchain-ollama
qdrant-client
langchain-qdrant
langchain_groq
django
PyPDF2
reportlab
xhtml2pdf  
celery
python-decouple
redis 
kombu 
celery
djangorestframework
djangorestframework-simplejwt
langchain-google-genai
gunicorn
