django
djangorestframework
djangorestframework-simplejwt
# === Production Server ===
gunicorn

# === Environment Variables ===
python-dotenv
python-decouple
# === PDF Generation & Parsing ===
PyPDF2
reportlab

# === Background Tasks ===
celery
redis
kombu

# === LangChain & LLMs ===
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-qdrant
langgraph 

# === Vector Database ===
qdrant-client

# === File Storage ===
vercelpy

gevent
dj-database-url
psycopg2-binary